{% extends 'base.html.twig' %}

{% set page_title = 'Monitoring' %}

{% block body %}
<aside class="sidebar">
    <div class="sidebar-header"></div>
    <div class="sidebar-inner">
        <div class="nav sidebar-pages"></div>
    </div>
</aside>
<div class="content clearfix">
    <div class="content-inner">
    {% if app.config.monitoring.pages is empty %}
        <div class="jumbotron">
            <h1><em>Ganbatte</em>, a Jenkins Build Monitor.</h1>
            <p>Since it looks like you haven't added any monitoring groups yet, please allow me to expain just what you're looking at here.
            <p>Ganbatte is a pretty basic monitoring thingy for Jenkins jobs that you can display on a 40" screen located somewhere on a wall within your office. The end.
            <p>
                <a class="btn" href="https://github.com/kalmanolah/ganbatte">
                    <i class="fa fa-github"></i> View project on Github
                </a>
            </p>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/template" class="sidebar-header-template">
<a class="btn progress-toggle<% if (ganbatte.get('progress')) { %> active<% } %>" title="Automatically progress to next page" href="#">
    <i class="fa fa-<%= (ganbatte.get('progress') ? 'pause' : 'play') %>"></i>
</a>
<a class="btn refresh-toggle<% if (ganbatte.get('refresh')) { %> active<% } %>" title="Automatically refresh data" href="#">
    <i class="fa fa-<%= (ganbatte.get('refresh') ? 'spinner fa-spin' : 'refresh') %>"></i>
</a>
<a class="btn sidebar-toggle<%= (ganbatte.get('sidebar') ? ' active' : '') %>" title="Toggle sidebar" href="#">
    <i class="fa fa-bars"></i>
</a>
</script>

<script type="text/template" class="sidebar-pages-template">
<% _.each(ganbatte.get('pages').models, function(page, index) { %>
    <a href="javascript:void(0)" data-page-id="<%= page.get('id') %>" class="clearfix sidebar-page<% if (page.get('id') == _selected_page.get('id')) { %> active<% } %>">
        <span class="sidebar-page-name"><%= page.get('name') %></span>
        <span class="sidebar-page-image"><img src="<% if (page.get('image')) { %><%= page.get('image') %><% } else { %>//placehold.it/50x50&text=:(<% } %>"></span>
    </a>
<% }) %>
</script>

<script type="text/template" class="content-inner-template">
<% _.each(page.get('items').getOrdered(), function(item, index) { %>
    <div class="item">
        <h2 class="item-header"><%= item.get('name') %></h2>
        <div class="jobs">
            <% _.each(item.get('jobs'), function(job, index) { %>
                <div class="job <% if (job.get('building')) { %>animated <% }%>job-<%= job.get('label') %>" style="width: <%= Math.floor((100 / item.get('jobs').length) * 100) / 100 %>%;">
                    <h3 class="job-name" title="<%= job.get('name') %>">
                        <a href="<%= job.get('url') %>">
                            <%= job.get('name') %>
                        </a>
                    </h3>
                    <% if (job.get('building') && job.get('lastBuild') && job.get('lastBuild').building) { %>
                    <h4 class="job-currentbuild-info">
                        <a href="<%= job.get('lastBuild').url %>" class="tag job-currentbuild-number"># <%= job.get('lastBuild').number %></a>
                        <span class="tag job-currentbuild-cause
                            <% if (job.get('cause').userName && job.get('cause').userGravatar) { %>
                                job-currentbuild-cause-has-avatar
                            <% } %>
                        ">
                        <% if (job.get('cause').upstreamBuild) { %>
                            <i class="fa fa-upload"></i> Build # <%= job.get('cause').upstreamBuild %>
                        <% } else if (job.get('cause').userName) { %>
                            <% if (job.get('cause').userGravatar) { %>
                                <div class="job-currentbuild-cause-avatar">
                                    <img src="<%= job.get('cause').userGravatar %>">
                                </div>
                            <% } %>
                            <i class="fa fa-user"></i> <%= job.get('cause').userName %>
                        <% } else { %>
                            <i class="fa fa-code-fork"></i> SCM/misc
                        <% } %>
                        </span>
                    </h4>
                    <% } %>
                    <% if (job.get('lastCompletedBuild')) { %>
                    <div class="job-lastbuild-info">
                        <a href="<%= job.get('lastCompletedBuild').url %>" class="tag job-lastbuild-number"># <%= job.get('lastCompletedBuild').number %></a>
                        <span class="tag job-lastbuild-time"><i class="fa fa-clock-o"></i> <%= BJSInstance.parse(job.get('lastCompletedBuild').timestamp / 1000) %></span>
                    </div>
                    <% } %>
                </div>
            <% }) %>
        </div>
    </div>
<% }) %>
</script>

<script>
    app.data_path         = 'data';
    app.progress_override = {{ progress_override | number_format }};
    app.refresh_override  = {{ refresh_override | number_format }};
    app.progress_interval = {{ app.config.dashboard.progress_interval | default(15) }};
    app.refresh_interval  = {{ app.config.dashboard.refresh_interval | default(15) }};
    app.pages             = {{ app.config.monitoring.pages | json_encode | raw }};
</script>
{% endblock %}
